# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../../../../../../:\Users\juanm\OneDrive\Documents\4to semestre\Algoritmos y estructuras de datos\Tareas Integradoras\TI 2\FIBA data management\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
